link( rel='import' href='./imports.html' )
link( rel='import' href='./exercise-list-styles.html' )

dom-module( id='exercise-list' )
	style( is='custom-style' include='exercise-list-styles' )
	template
		paper-datatable( data='{{ exercises }}' selectable )
			paper-datatable-column( header='Exercise name' property='name' type='String' )
		paper-fab( icon='add' on-tap='add' )

	script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' )
	script( src='./exercise-list.js' )